.chatInput {
  position: fixed;
  bottom: 80px;
  display: flex;
  align-items: center;
  width: 95%;
  padding: 10px;
  gap: 10px;
  border-radius: 2rem;
  border: 1px solid #EFEFEF;
  background: #FFF;
  left: 50%;
  transform: translateX(-50%);
}

.chatInput .clip {
  color: #707070;
}

.chatInput .send {
  background-color: #41D388;
  color: #fff;
  border: none;
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chatInput .input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 40px;
}